<header>
  <div class="header-nav">
    <ul>
      <li><a href="/">記事一覧</a></li>
      <li><a href="/">ログアウト</a></li>
    </ul>
  </div>
  <div class="header-item">
    <div class="blog-title">
      <p class="main-title">RADIO LOG</p>
      <p>らじろぐ</p>
      <a class="main-btn" href="/login">ログイン</a>
    </div>
    <div class="blog-img"></div>
  </div>
</header>
