<header>
  <div class="header-nav">
    <a href="/">BLOG</a>
    <p>ようこそ、◯◯さん</p>
    <ul>
      <li><a href="/list">記事一覧</a></li>
      <li><a href="/list">ログアウト</a></li>
    </ul>
  </div>
  <div class="header-item">
    <div class="blog-title">
      <p class="main-title">RADIO LOG</p>
      <p>らじろぐ</p>
      <input class="main-btn" type="submit" value="ログイン" />
    </div>
    <div class="blog-img"></div>
  </div>
</header>
