<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BLOG</title>
    <%- include('adobefont'); %>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <div class="sign">
        <div class="container">
          <div class="position-center panel">
            <h2>新規登録</h2>
            <% if (errors.length > 0) { %>
            <ul class="errors">
              <% errors.forEach(error => { %>
              <li><%= error %></li>
              <% }); %>
            </ul>
            <% } %>
            <form action="/register" method="POST">
              <p>お名前</p>
              <input type="text" name="username" />
              <p>メールアドレス</p>
              <input type="text" name="email" />
              <p>パスワード</p>
              <input type="password" name="password" />
              <input class="main-btn" type="submit" value="登録する" />
              <a href="/">一覧にもどる</a>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
