header {
  background-color: #ffdddc;
}

.header-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 700px;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: 80px;
}

.header-nav > a {
  color: #ffffff;
  font-weight: bold;
}

.header-nav p {
  padding-left: 30px;
  font-size: 15px;
  color: #24285b;
  font-weight: bold;
  word-wrap: break-word;
  flex: 1;
}

.header-nav ul {
  text-align: right;
  display: flex;
}

.header-nav li > a {
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  padding-left: 30px;
}

.heading {
  font-size: 30px;
}

.header-item {
  display: flex;
  justify-content: center;
  .blog-title {
    .main-title {
      position: relative;
      max-width: 500px;
      color: #ffffff;
      font-size: 70px;
      font-weight: bold;
    }
    p {
      position: relative;
      max-width: 500px;
      color: #ffffff;
      font-size: 40px;
      font-weight: bold;
    }
  }
  .blog-img {
    width: 500px;
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/image/radio2.png);
  }
}
