//mainタグの幅
main {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 100px;
}

.article--item {
  //position: relative;は「続きを読む」ボタンのためにある
  position: relative;
  padding: 28px 40px 54px;
  border: 1px solid #d5dee8;
  border-radius: 6px;
  background-color: #ffffff;
  h2 {
    font-size: 22px;
    margin-bottom: 12px;
    font-weight: 800;
  }
  p {
    font-size: 16px;
    color: #8491a5;
    font-weight: 400;
  }
  i {
    display: inline-flex;
    align-items: center;
    background-color: #ff708f;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 16px;
    font-style: normal;
    margin-bottom: 12px;
    margin-top: 5px;
    letter-spacing: 0.05em;
  }
}

//一番先頭にmargin:20pxを確保させない
.article--item:not(:first-child),
.article--item:not(:first-child) {
  margin-top: 20px;
}

.article--list {
  a {
    position: absolute;
    //下から18px,右から30pxに配置する
    bottom: 18px;
    right: 30px;
    display: inline-block;
    color: #30c8d6;
    &:hover {
      color: #21bbc9;
    }
  }
}
