/* .sign {
  border-top: 20px solid #88e7ce;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
} */

.sign {
  align-items: center;
}

.container {
  padding: 0 30px;
}

.sign > .container > p {
  margin-top: 36px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.sign > .container > p > a {
  display: inline-block;
  margin-left: 20px;
  color: #4ccfc9;
}

.sign > .container > p > a:hover {
  color: #2dc2bc;
}

.sign > .container form {
  padding-top: 40px;
}

.sign .panel {
  padding: 60px 80px;
  background-color: #ffffff;
  border: 1px solid #d5dee8;
  border-radius: 6px;
}

.sign h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.sign h1 > a {
  color: #8491a5;
}

.sign h1 > a:hover {
  color: #2b6d90;
}

.sign h2 {
  text-align: center;
  font-size: 24px;
}

.sign form > p {
  margin-bottom: 10px;
}

.sign input {
  padding: 10px 20px;
  border: 1px solid #1b2538;
  border-radius: 4px;
  /*  background-color: #ffffff; */
}

.sign input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}

.sign input[name='username'] {
  margin-bottom: 30px;
}

.sign input[name='email'] {
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff;
}
.sign input[name='password'] {
  width: 100%;
  background-color: #ffffff;
}

.sign input[type='submit'] {
  margin-top: 50px;
  width: 90%;
}
