*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: heisei-maru-gothic-std, sans-serif;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: rgba(255, 221, 220, 0.25);
  color: #24285b;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

h1 {
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 100%;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.main-btn {
  display: inline-block;
  border-radius: 20px;
  font-size: 16pt;
  text-align: center;
  cursor: pointer;
  padding: 13px 30px;
  background: #24285b;
  color: #ffffff;
  line-height: 1em;
  transition: 0.3s;
}
.main-btn:hover {
  opacity: 0.8;
}

.position-center {
  text-align: center;
  padding-bottom: 60px;
}

header {
  background-color: #ffdddc;
}

.header-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  /* min-width: 700px;*/
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: 80px;
}

.header-nav > a {
  color: #ffffff;
  font-weight: bold;
}

.header-nav ul {
  display: flex;
}

.header-nav li > a {
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  padding-left: 30px;
  transition: 0.3s;
}
.header-nav li > a:hover {
  color: #24285b;
}

.header-item {
  display: flex;
  justify-content: center;
}
.header-item .blog-title .main-title {
  position: relative;
  max-width: 500px;
  color: #ffffff;
  font-size: 70px;
  font-weight: bold;
}
.header-item .blog-title p {
  position: relative;
  max-width: 500px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}
.header-item .blog-img {
  width: 500px;
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/image/radio2.png);
}

main {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 100px;
}

.article--item {
  position: relative;
  padding: 28px 40px 54px;
  border: 1px solid #d5dee8;
  border-radius: 6px;
  background-color: #ffffff;
}
.article--item h2 {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 800;
}
.article--item p {
  font-size: 16px;
  color: #8491a5;
  font-weight: 400;
}
.article--item i {
  display: inline-flex;
  align-items: center;
  background-color: #ff708f;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 16px;
  font-style: normal;
  margin-bottom: 12px;
  margin-top: 5px;
  letter-spacing: 0.05em;
}

.article--item:not(:first-child),
.article--item:not(:first-child) {
  margin-top: 20px;
}

.article--list a {
  position: absolute;
  bottom: 18px;
  right: 30px;
  display: inline-block;
  color: #30c8d6;
}
.article--list a:hover {
  color: #21bbc9;
}

.articles {
  border: 1px solid #d5dee8;
  border-radius: 6px;
  background-color: #ffffff;
}

.article > h1 {
  font-size: 30px;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
  margin-bottom: 60px;
}

.article > p {
  font-size: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 2.2;
}

.article > i {
  display: inline-flex;
  align-items: center;
  background-color: #ff708f;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 20px;
  font-style: normal;
  margin-bottom: 24px;
  margin-top: 0px;
}

/* .sign {
  border-top: 20px solid #88e7ce;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
} */
.sign {
  align-items: center;
}

.container {
  padding: 0 30px;
}

.sign > .container > p {
  margin-top: 36px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.sign > .container > p > a {
  display: inline-block;
  margin-left: 20px;
  color: #4ccfc9;
}

.sign > .container > p > a:hover {
  color: #2dc2bc;
}

.sign > .container form {
  padding-top: 40px;
}

.sign .panel {
  padding: 60px 80px;
  background-color: #ffffff;
  border: 1px solid #d5dee8;
  border-radius: 6px;
}

.sign h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.sign h1 > a {
  color: #8491a5;
}

.sign h1 > a:hover {
  color: #2b6d90;
}

.sign h2 {
  text-align: center;
  font-size: 24px;
}

.sign form > p {
  margin-bottom: 10px;
}

.sign input {
  padding: 10px 20px;
  border: 1px solid #1b2538;
  border-radius: 4px;
  /*  background-color: #ffffff; */
}

.sign input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}

.sign input[name=username] {
  margin-bottom: 30px;
}

.sign input[name=email] {
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.sign input[name=password] {
  width: 100%;
  background-color: #ffffff;
}

.sign input[type=submit] {
  margin-top: 50px;
  width: 90%;
}/*# sourceMappingURL=style.css.map */